//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    version = false
    fastq = null
    out_dir = "output"
    sample = null
    wfversion = "v0.0.5"
    align_threads = 4
    assembly_threads = 4
    assembly = true
    medaka_options = null
    min_coverage = 20
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false
    analyse_unclassified = false

    reference = null

    process_label = "wfmpx"
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wfversion,wf,process_label'

    wf {
        example_cmd = [
            "--fastq test_data/reads.fastq.gz"
        ]
        agent = null
        container_sha = "sha2cebc5a42c9b33ddd8811eda24e92e6f72c553d8"
    }
}

manifest {
    name            = 'epi2me-labs/wf-mpx'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-mpx'
    description     = 'Mpox metagenomics assembly workflow.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.0.5'
}

epi2melabs {
    tags = 'metagenomics,assembly,viruses,public health'
    icon = 'faVirus'
}

env {
    PYTHONNOUSERSITE = 1
}

executor {
    $local {
        cpus = 4
        memory = "8 GB"
    }
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:wfmpx {
        container = "ontresearch/wf-mpx:${params.wf.container_sha}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda.enabled = true
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '32G'
            withLabel:wfmpx {
                container = "${params.aws_image_prefix}-wf-mpx:${params.wf.container_sha}-root"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
}
